name: Update demo sites

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    name: Update demo sites from the Hydrogen repository
    steps:
      - name: Checkout the code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Update local templates
        run: |
          node scripts/update-demos.mjs

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v4.1.1
        with:
          title: 'chore: update demo sites from Hydrogen'
          commit-message: 'chore: update demo sites from Hydrogen'
          committer: Netlify Bot <bot@netlify.com>
          author: Netlify Bot <bot@netlify.com>
          branch: bot/update-demo-sites
          labels: 'type: chore'
          delete-branch: true
          body: |
            Update demo sites from [the Hydrogen repository](https://github.com/Shopify/hydrogen/tree/dist/templates)
